:root {
    --bg_color1: #222629;
    --bg_color2: #474b4f;
    --bg_color3: #6b6e70;
    --text_color1: #61892f;
    --text_color2: #86c232;
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover: #eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color: #6b6b6b;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Alef', sans-serif;
    background-color: var(--bg_color1);
    display: flex;
}

@keyframes cssMasterClassAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#form_wrapper {
    align-self: flex-start;
    flex: 0 1 90%;
    margin: 5% auto;
    background-color: white;
    border-radius: 50px;
    border: 5px solid var(--bg_color3);
    padding: 5vh 5vh;
    display: flex;
    flex-wrap: wrap;
    animation-name: cssMasterClassAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: transform 1.5s ease;
    align-items: center;
    justify-content: center;
}

#about {
    width: 90%;
    align-self: flex-start;
    
    margin: 5% auto;
    background-color: white;
    border-radius: 10px;
    border: 5px solid var(--text_color2);
    
    display: none;
    flex-wrap: wrap;
    animation-name: cssMasterClassAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: transform 1.5s ease;
}

#about_txt {
    padding: 2vh 5vh 5vh 5vh;
    flex: 0 0 70%;
    word-wrap: break-word;
    direction: rtl;
}

#close_info {
    background-color: var(--bg_color3);
    color: white;
    padding: 5px 10px;
    text-align: right;
    font-size: larger;
}

#close_info:hover {
    opacity: 80%;
}

h1 {
    font-size: 15px;
    text-align: center;
    display: inline;
}

span {
    font-size: 15px;
    text-align: center;
}

.center_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.center_flex {
    align-items: center;
    justify-content: center;
}

#logo_place {
    align-self: flex-start;
    margin: 0px;
    flex: 1 1 100%;
    background-color: var(--bg_color2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#en_lang {
    width: 30px;
    margin: 10px;
    border-radius: 10px;
}

#he_lang {
    width: 30px;
    margin: 10px;
    border-radius: 10px;
}

#langs {
    grid-area: 1 / 6 / 2 / 7;
}

#info {
    width: 30px;
    margin: 10px;
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

#logo {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 2vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 1.2px;
    word-spacing: 1.6px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding-left: 9vw;
}

#choose_plan_txt {
    font-family: 'Alef', sans-serif;
}

.bar_btn {
    display: none;
    font-family: 'Alef', sans-serif;
    font-size: 100%;
    letter-spacing: 1.2px;
    word-spacing: 1.6px;
    color: #FFFFFF;
    font-weight: 50;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: var(--text_color2);
    padding: 0px 10px;
    border-radius: 0.5rem;
    margin: 1%;
    flex: 1 0 5%;
    transition: background-color, 0.5s;
    cursor: pointer;
    user-select: none;
}

.bar_btn:hover {
    background: var(--text_color1);
}

.bar_disabled_btn {
    background: var(--bg_color3);
}

.bar_disabled_btn:hover {
    background: var(--bg_color3);
}

.take_all {
    flex: 0 0 100%;
}

.plan_btn {
    flex: 1 1 10%;
    background-color: var(--input_bg);
    margin: 3%;
    padding: 10px;
    border-radius: 30px;
}

.plan_btn:hover {
    background-color: var(--input_hover);
}

.selected_plan {
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--text_color2);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--text_color2);
    box-shadow: inset 0px 0px 0px 2px var(--text_color2);
}

#input_submit {
    margin: 3%;
    height: 60px;
    border-radius: 30px;
    width: 100%;
    font-family: 'Alef', sans-serif;
}

.input_field {
    /* customize the input tag with lighter font and some padding*/
    color: var(--icon_color);
    background-color: inherit;
    width: 90%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 30px;
}

.input_field:hover, .input_field:focus {
    /* remove the outline */
    outline: none;
}

#input_submit {
    /* submit button has a different color and different padding */
    background-color: var(--text_color2);
    padding-left: 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#input_submit:hover {
    background-color: var(--text_color1);
    /* simple color transition on hover */
    transition: background-color, 1s;
    cursor: pointer;
}

/* shift it a bit lower */

#create_account {
    display: block;
    position: relative;
    top: 30px;
}

a {
    /* remove default underline */
    text-decoration: none;
    color: var(--submit_bg);
    font-weight: bold;
}

a:hover {
    color: var(--submit_hover);
}

i {
    color: var(--icon_color);
}

#main_canvas {
    display: none;
    flex: 1 1 100%;
    height: 90%;
}
